
.footer {
    padding: 20px;

    .llamadoAccion {
        background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
        background-blend-mode: multiply;
        color: $colorBlanco;
        padding: 20px;
        padding-top: 40px;
        height: 200px;
        text-align: center;

        .llamadoAccionTitulo {
            font-size: 25px;
        }

        .llamadoAccionBoton {
            @extend %botonNegroBlanco,
        }
    }

    .derechosAutor {
        background-color: $colorGrisClaro;
        padding: 20px;
        height: 100px;
        text-align: center;
    }
}






