
.encabezado {
    @include tamanos(100%,80px);
    background-color: $colorNegro;
    display: flex;
    position: fixed;
    padding: 5PX;

    .logo {
        @include tamanos(300px,70px);
    }

    .navbar {
        width: 100%;

        .menu {
            @include tamanos(100%,100%);
            list-style: none;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 50px;
            font-size: 18px;
            font-weight: 700;
            padding: 20px;

            .menuitems {
                text-decoration: none;
                color: $colorBlanco;
                transition: 0.5s;

                &:hover {
                    color: $colorGrisClaro;
                }
                
            }
        
        }

    }

}
