.banner {
    
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../img/banner-1.bak.jpg);
    background-size: cover;
    @include tamanos(100%,100vh);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    padding: 40px;

    .fraseBienvenida {
        color: $colorNegro;
        font-size: 30px ;
        font-weight: bold;
    }
}