.portafolio{

    .portafolioHeadings {
    padding: 40px;
    padding-top: 160px;

        h2 {
        margin-bottom: 15px;
        font-size: 40px;
        }
    }
}

.imagenes{
    
    .galeriaImgProyectos {
        width: 700px;
        height: 480px;
        object-fit: cover;
    }

}




